@import './base.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--color-primary-hover);
}

a,
.green {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

:focus-visible {
  outline: 0;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-primary-hover);
  }
}
